.container {
    border: 1px solid green;
    padding: 10px;
}

.box {
    background: red ;
    margin: 5px;
    color: #fff;
    width: 100px;
    height: 100px;
}

.float {
    float: left; /*right, none*/

}